.container {
  background-color: var(--GRAY_LIGHT);
  padding: 1em;
  border-radius: 20PX;
  margin-bottom: 1em;

  .title {
    color: var(--BLUE);
  }

  h5 {
    margin: 0;
  }
  h5, h6{
    color: var(--BLACK);
  }

  a {
    text-decoration: none;
  }
}