.userImage {
  border-radius: 50%;
  border: 2px solid var(--BLUE_LIGHT-PRIMARY) !important;
  cursor: pointer;
}

.name {
  color: var(--BLUE);
  letter-spacing: .4em;
}

.office {
  letter-spacing: .08em;
  line-height: 1.7em;
  font-weight: 500;
}

.summary {
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 8px 0px 0px 0px;
}