.container {
  background-color: var(--GRAY_DARK);
  padding: 1em;
  border-radius: 5%;
  margin-bottom: 1em;
}

.title {
  color: var(--BLUE_LIGHT-SECONDARY);
}

.company {
  letter-spacing: .20em;
  color: var(--BLUE_LIGHT-TERTIARY);
}