body {
  background-color: var(--BLACK);
  color: var(--WHITE);
  font-family: var(--FONT_FAMILY);
  margin: 0;

  &::-webkit-scrollbar {
    width: .47rem;
  }
  &::-webkit-scrollbar-track {
    background: #0D1117;        /* color of the tracking area */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #dfd8d8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #0D1117;  /* creates padding around scroll thumb */
  }
}

:root {
  --BLACK:                  #161616;     
  --WHITE:                  #fff;
 
  --GRAY_DARK:              #242424;
  --GRAY_LIGHT:              #E4E4E4;
     
  --BLUE:                   #177ddc;
  --BLUE_LIGHT-PRIMARY:     #34aefa;
  --BLUE_LIGHT-SECONDARY:   #65b7f3;
  --BLUE_LIGHT-TERTIARY:    #b7e3fa;
  
  --FONT_FAMILY:            'Montserrat', sans-serif;
}
