html,
body {
  background-color: var(--BLACK);
}
:root {
  --BLACK:                #161616;     
  --WHITE:                #fff;
 
  --GRAY_DARK:            #242424;
     
  --BLUE:                 #177ddc;
  --BLUE_LIGHT-PRIMARY:   #34aefa;
  --BLUE_LIGHT-SECONDARY: #65b7f3;
  --BLUE_LIGHT-TERTIARY:  #b7e3fa;
}
