$SMALL_SMART_PHONE_SIZE:   280px;
$SMART_PHONE_SIZE:         414px;
$TABLET_SIZE:              768px;
$DESKTOP_SIZE:             1150px;

.flag {
  position: absolute !important;
  z-index: 1;
  top: .5em;
  right: 1em;
  display: flex;
  cursor: pointer;
  gap: .3em;
}

.selected{
  opacity: .5;
}

.container {
  @media screen and (min-width: $SMALL_SMART_PHONE_SIZE) {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3em;
  }

  @media screen and (min-width: $DESKTOP_SIZE) {
    width: calc(100vw - 1em);
    height: calc(100vh - 3em);
    display: flex;
    padding-right: 0;
  }
}

.summary {

  @media screen and (min-width: $SMALL_SMART_PHONE_SIZE) {
    text-align: center;

    .socialMedias {
      margin-top: 3em;
      display: flex;
    }
  }
  

  @media screen and (min-width: $TABLET_SIZE) {
    .socialMedias {
      margin-top: 4em;
    }
  }
  @media screen and (min-width: $DESKTOP_SIZE) {
    text-align: left;
    flex: 5;
    padding-right: 1em;
    .socialMedias {
     display: flex;
     flex-direction: column;
     position: absolute;
     bottom: 0;
    }
    
  }


}

.information {

  h2 {
    color: var(--WHITE);
  }

  @media screen and (min-width: $SMALL_SMART_PHONE_SIZE) {
    margin-top: 4em;

    h2{
      margin-top: 4em;
      text-align: center;
    }
  }

  @media screen and (min-width: $TABLET_SIZE) {
    .courses {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      article {
        margin: .5em;
      }
    }
  }

  @media screen and (min-width: $DESKTOP_SIZE) {
    flex: 6;
    overflow-y: auto;
    padding: 0 1em;
    margin-top: 0em; 
    color: rgba(0, 0, 0, 0);
    transition: color .5s ease;

    &::-webkit-scrollbar {
      width: .5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;       /* roundness of the scroll thumb */
      border: 1px solid #0D1117;  /* creates padding around scroll thumb */
    }
    &::-webkit-scrollbar-thumb {        
      box-shadow: inset 0 0 0 10px;
    }
    &:hover{
      color:#dfd8d8;
    }
  }
}
